Flask==0.9
Flask-WTF==0.8.3
Jinja2==2.6
WTForms==1.0.3
Werkzeug==0.8.3
Whoosh==2.4.1
blinker==1.2
decorator==3.4.0
flup
gunicorn==0.17.2
configparser==3.3.0r2
cov-core==1.13.0
coverage==3.7.1
cpplint==0.0.3
pyparsing==2.0.2
pytest==2.6.1
pytest-cov==1.7.0
python-coveralls==2.4.2
