a {
   outline: 0;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

h1.styleHeader {
  color: yellow;
  opacity: .8;
  margin-top: 10px;
}

textarea {
  width: 95%;
  height: 35%;
}

#umich {
  width: 60%;
}

div.container.footerContainer {
  margin-top: 500;
}

h5{
  color: yellow;
}

div.container.styleContainer {
  margin-top: 0;
  margin-left:0;
}
.input {
  color: blue;
}
div.container.headerContainer{
  margin-top:0;
  margin-left: 60px;
}

body
{
  background: url(../img/epic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inputs {
  margin-top: 40px;
  margin-left: 100px;
}

h1 {
  display: block;
  letter-spacing: -1px;
  padding: 50px;
}

#main-container
{
	max-width: 900px;
}

#main-panel
{
	text-align: center;
	float: none;
	margin: 48px auto;

	/* override Bootstrap's 100% width for form controls */
    width: 480px;
    background-color: rgba(244,244,244,0.76);
}



.feedBackDialog
{
  width: 80%;
  opacity: .9;
  display: block;
  text-align: left;
}

 .debugDialog {
  opacity: .9;
  display: block;
  text-align: left;
}

/* Links */
a, a:focus, a:hover
{
  color: #fff;
}

/*
 * Header
 */
.masthead-brand
{
  color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.masthead-nav > li > a
{
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus
{
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus
{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-bottom-color: #fff;
}

.bugReport a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-bottom-color: #fff;
}

.modal-body {
  margin-left: 20px;
}

.modal .masthead-brand
{
  color: black;
}



.modal-header {
  background-color: #36454F ;
  color: white;
}

.modal-body {
  font-weight: 500;
  color: black; /* IE8 proofing */
  color: rgba(24,24,24,0.75);
  border-bottom: 2px solid transparent;}

.modal .masthead-nav > li > a
{
  font-weight: 500;
  color: black; /* IE8 proofing */
  color: rgba(24,24,24,0.75);
  border-bottom: 2px solid transparent;
}
.modal .masthead-nav > li > a:hover,
.modal .masthead-nav > li > a:focus
{
  background-color: transparent;
  border-bottom-color: #919191;
  border-bottom-color: rgba(50,50,50,0.29);
}
.modal .masthead-nav > .active > a,
.modal .masthead-nav > .active > a:hover,
.modal .masthead-nav > .active > a:focus
{
  color: black;
  border-bottom-color: black;
}

#feedback-body
{
	font-family: "Menlo", monospace;
}

.message-success
{
	color: green;
}

