a {
   outline: 0;
}

.bs-docs-masthead, .bs-docs-header {
position: relative;
padding: 30px 15px;
color: white;
text-align: left;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #6f5499;
background-image: -webkit-linear-gradient(top,#4096ee 0,#4096ee  100%);
background-repeat: repeat-x;
margin-top: -20;
}

.jumbotron {
  color: white;
  background-color: #6f5499;
  margin-top: 80px;
}

#upload-file{
  margin-left: -100;
}

#headerlist {
  font-size: 140%;
  /*float: right;*/
  /*margin-top: -120px;*/
  /*margin-right: 200px;*/
}
ul {
  
  list-style-type: square;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

body{
  background-color: #f9f8f2;
}

div.navigation {
  width: 100%;
}
/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

h1.styleHeader {
  color: yellow;
  margin-top: 10px;
}

textarea {
  width: 95%;
  height: 35%;
}

#umich {
  width: 60%;
}

div.container.footerContainer {
  margin-top: 500;
}

h5{
  color: black;
}

div.container.styleContainer {
  margin-top: 0;
  margin-left:0;
}
.input {
  color: blue;
}
div.container.headerContainer{
  margin-top:0;
  margin-left: 60px;
}


h1 {
  display: block;
  letter-spacing: -1px;
  padding: 50px;
}

#main-container
{
	max-width: 900px;
}

#main-panel
{
	text-align: center;
	float: none;
	margin: 48px auto;

	/* override Bootstrap's 100% width for form controls */
    width: 480px;
    background-color: rgba(244,244,244,0.76);
}



.feedBackDialog
{
  width: 80%;
  opacity: .9;
  display: block;
  text-align: left;
}

 .debugDialog {
  opacity: .9;
  display: block;
  text-align: left;
}

/* Links */
a, a:focus, a:hover
{
  color: black;
}

/*
 * Header
 */

.masthead-nav > li > a
{
  color: #fff; /* IE8 proofing */
  color: black;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus
{
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus
{
  color: #fff;
  border-bottom-color: #fff;
}

.bugReport a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  border-bottom-color: #fff;
}

pre{
  /*width: 120%;*/
  /*margin-left: -100;*/
  margin-top: 30px; /* match spacing between jumbotron and buttons */
}

.modal-body {
  margin-left: 20px;
}

.modal .masthead-brand
{
  color: #4096ee;
}

.modal-header {
  background-color: #81CA9B ;
  color: white;
}

.modal-body {
  font-weight: 500;
  color: black; /* IE8 proofing */
  color: rgba(24,24,24,0.75);
  border-bottom: 2px solid transparent;
}

.modal .masthead-nav > li > a
{
  font-weight: 500;
  color: black; /* IE8 proofing */
  color: rgba(24,24,24,0.75);
  border-bottom: 2px solid transparent;
}
.modal .masthead-nav > li > a:hover,
.modal .masthead-nav > li > a:focus
{
  background-color: transparent;
  border-bottom-color: #919191;
  border-bottom-color: rgba(50,50,50,0.29);
}
.modal .masthead-nav > .active > a,
.modal .masthead-nav > .active > a:hover,
.modal .masthead-nav > .active > a:focus
{
  color: black;
  border-bottom-color: black;
}

#feedback-body
{
	font-family: "Menlo", monospace;
}

.message-success
{
	color: green;
}

