<div ng-controller="AboutCtrl">
  <accordion close-others="oneAtATime">
    <accordion-group heading="Language Stack" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <ul>
	    <li>Python (Backend)</li>
	    <li> JavaScript / AngularJS (Frontend)</li>        
	</ul>
    </accordion-group>
    <accordion-group heading="Open Source">
      This project is entirely open source, check out here: <a href="https://github.com/vianuevm/183_style_grader"> EECS 183 Style Grader </a>
    </accordion-group>
    <accordion-group heading="Coders">
      <ul>
	    <li> Steve Merrit </li>
	    <li> Mike Vianueva </li>
	    <li> Maxim Aleska</li>   
	</ul>
    </accordion-group>
  </accordion>
</div>