<div class="jumbotron">
  <h1>style grader</h1>
  <p class="lead">
    Keepin' your code looking good since 2014
  </p>
  <p><a class="btn btn-lg btn-success" ng-hide="hideVal">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6 col-sm-6 col-12">
            <h4>Choose File</h4>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input ng-click="clickBrowse()" type="file" multiple>
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
            <span class="help-block">
                Try selecting one or more files and watch the feedback
            </span>
        </div>
</div>
