
<html>

    <!--

    Project Developers =     {
                                 { Mike Vianueva: Backend/Frontend/Database },
                                 { Steve Merrit: Backend },
                                 { Maxim Aleska Backend }
                              }
    -->


  <head>
      <script src="/static/behavior/jquery.min.js"> </script>
      <link href="/static/presentation/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="/static/behavior/bootstrap.min.js"></script>
  </body>
</html>