<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<link href="/static/presentation/upload.css" rel="stylesheet">
		<div class="header">
			<h3 class="text-muted">Uploaded files</h3>
		</div>
		<hr/>
		<div>
			This is a list of the files you just uploaded, click on them to load/download them
			<ul>
				{% for file in filenames %}
				  <li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="header">
			<h3 class="text-muted">Feedback</h3>
		</div>
		<hr/>    
		<div class="output">
		    <ul class="list-unstyled">
		     {% for error in errors %}
		       <li> {{error}} </li>
		     {% endfor %}
		    </ul>
		</div>
	
	</div>
 
{% endblock %}